This article introduces the performance test data of YashanDB in OLTP scenario with TPC-C model and OLAP scenario with TPC-H model, including the following parts:

- [TPC-C Testing](TPC-C Performance Testing): Testing YashanDB simulating the TPC-C model based on centralized deployment.
- [TPC-H Testing](TPC-H Performance Testing(Distributed)): Testing YashanDB simulating the TPC-H model based on ISC Distributed Cluster Deployment.